@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d9d9d9;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

main{
    padding-left:20em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: #393945;    
}

#topbar{
    width:100%;    
    position: fixed;
    display: none;
    box-shadow: 5px 0 10px #0002;
    pointer-events: none;
}    

#topbar #wrappermenu{
    display: flex;
    height: 100px;
    background-color: white;

}

#topbar #Titulo{
    height:100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

#topbar #Titulo img{
    width: 6em;
}

#topbar #menu{
    margin: auto 20px auto auto;
    padding:35px;

    pointer-events: auto;
}

#topbar #menu img{
    height:30px;
}

#topbar #Titulo h1{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 1.2em;
}

#topbar #links{
    max-height: 0;
    overflow: hidden;
    pointer-events: auto;
    text-align: center;

    transition: max-height 900ms ease;
}

#topbar:hover #links{
    max-height: 500px;
}

#topbar #links li{
    padding: 10px 0;
    background-color: white 
}

#topbar #links li:hover{
    background-color: #a19c9c;
}

#topbar #links li a{   
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 400;
    color:#393945
}

#topbar #links li:hover a{
    color: white;
}
#sidebar{
    width: 20em;
    height: 100vh;
    background-color: rgb(246, 250, 236);
    display: flex;
    flex-direction: column;
    position: fixed;
}

#sidebar #Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#sidebar #Titulo img{
    width: 8em;
}

#sidebar #Titulo h1{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 2em;
}

#sidebar #Titulo p{
    font-style: italic;
    max-width: 10em;
    font-size: 1.2em;
    text-align: center;
}

#sidebar #links{
    margin-top: auto;
    margin-bottom: 80px;
    text-align: center;
}

#sidebar #links li{
    margin: 0.7em 0;
}

#sidebar #links li a{
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 400;
    color:#393945
}

#sidebar #links li a:hover{
    color: #666666;
}

#fotoback{
    background: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position: center;
}

#post1{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 5em;
}

#post1 p{
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

#rodape{
    width:100%;
    height: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.linkativo{
    color: rgb(26, 23, 23) !important;
    font-weight: 700 !important;
}

.linehorizontal{
    background-color: black;
    height: 1px;
    width: 87%;
    max-width:1100px;
    margin: auto;
    
}

/*RESPONSIVIDADE*/

@media (max-width:1100px){
    #sidebar{
        display:none;
    }
    main{
        padding: 0;
        padding-top: 100px;
    }
    #fotoback{
        height: 60vh;
    }
    #topbar{
        display: block;
    }
}